*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #152b4a;
    overflow: hidden;
}

.squre{
    position: absolute;
    width: 190px;
    height: 190px;
    top:58%;
    border-right: 0.5px solid #fff;
    border-top: 0.5px solid #fff;
    border-radius: 8px;
    left: 5px;
    z-index: 1;
    border-radius: 50%;
    backdrop-filter: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
    background: linear-gradient(#e91e63, #ffc107);
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

.squre:nth-child(1){
    width: 160px;
    height: 160px;
    left: 50%;
    top: 20%;
    border-left: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff;
    border-right: transparent;
    border-top: transparent;
    border-radius: 50%;
    background: linear-gradient(#2196f3, #31ff38);
}

.squre:nth-child(2){
    width: 50px;
    height: 50px;
    left: 43%;
    top: 46.3%;
    z-index: 4;
    border-radius: 50%;
    background: #ff7720;
}
.clock{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    backdrop-filter: blur(10px);
    align-items: center;
    z-index: 5;
    justify-content: center;
    border-bottom: 0.5px solid #fff;
    border-right: 0.5px solid #fff;
    border-radius: 50% 50% 50% 50%;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.01);
}

.dot{
    position: absolute;
    inset: 20px;
    border: 15px dotted rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border-bottom: 15px dotted rgba(255, 255, 255, 0.1);
    border-right: 15px dotted rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1);
    inset:  5px 2px 5px rgba(255, 255, 255, 0.1);
    animation: do 60s steps(60, end) infinite;
}

@keyframes dot{
    to{transform: rotate(360deg);}
}

.clock .numbers{
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border-bottom: 0.5px solid #fff;
    border-right: 0.5px solid #fff;
    background: grba(255, 255, 255, 0.01);
    box-shadow: 5px 5px 15px grba(255, 255, 255, 0.01);
    inset: 5px 2px 5px rgba(255, 255, 255, 0.01);
}

.clock .numbers span{
    inset: 2px;
    position: absolute;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    transform: rotate(90deg * var(--i));
}

.clock .numbers span b{
    display: inline-block;
    transform: rotate(calc(-90deg * var(--i)));
}

.clock .numbers .circle{
    inset: 0;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.clock .numbers .circle i{
    position: absolute;
    width: 3px;
    border-radius: 20px;
    height: 60%;
    background: #fff;
    transform-origin: bottom;
}

.clock .numbers .circle#h i{
    width: 4px;
    transform: scaleY(0.66);
}

.clock .numbers .circle#h i{
    transform: scaleY(0.77);
}

.clock .numbers .circle#m i{
    transform: scaleY(0.82);
    width: 2px;
    height: 50%;
    background: #e91e63;
    box-shadow: 0 30px 0 #e91e63;
}

.clock::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #e91e63;
    z-index: 1000;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #e91e63, 0 0 0 3px #fff,
    0 0 5px 5px rgba(0, 0, 0, 0.15);
}


